<!DOCTYPE html>
<html lang="fr-fr" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lokasa</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lokasa.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/img/lokasa_icon.png" />
</head>
<body>
    <div class="container is-fullhd has-background-light">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script>
                document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>